footer{
    width: 100%;
    float: left;
    padding: 10px 0 35px;
    background-color: #fff;
    .logo{
        position: absolute;
        top: 19px;
        left: 30px;
        z-index: 1;
    }
    .main__nav{
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 32px;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                display: inline-block;
                margin: 0 15px;
                a{
                    padding: 1px 0;
                    line-height: normal;
                    font-size: 16px;
                    text-align: center;
                    color: #031B1E;
                    text-decoration: none;
                    display: block;
                    position: relative;
                    &::before{
                        content: '';
                        width: 100%;
                        height: 2px;
                        display: block;
                        float: left;
                        background-color: #28889E;
                        position: absolute;
                        bottom: -10px;
                        opacity: 0;
                        visibility: hidden;
                        -webkit-transition: all 0.3s ease;
                                transition: all 0.3s ease;
                    }
                    &:hover{
                        color: #28889E;
                        &::before{
                            bottom: -5px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .social{
        position: absolute;
        top: 40px;
        right: 29px;
        a{
            width: 22px;
            height: 22px;
            display: block;
            float: left;
            margin-left: 15px;
            background-position: center;
            background-repeat: no-repeat;
            -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
            &:hover{
                -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
            }
            &.fb{
                background-image: url(../images/fb_icon.svg);
            }
            &.in{
                background-image: url(../images/in_icon.svg);
            }
        }
    }
}
.popup__wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(1, 24, 28, 0.6);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.show__popup{
        opacity: 1;
        visibility: visible;
    }
    .popup__block{
        width: 100%;
        max-width: 910px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #fff;
        padding: 90px 80px;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        -webkit-transform: translate(-50%, -30%);
                transform: translate(-50%, -30%);
        &.show{
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
        .close__popup{
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
            background-image: url(../images/close_popup.svg);
        }
        .form__field{
            width: 248px;
        }
        span.wpcf7-form-control-wrap{
            margin-right: 20px;
            display: inline-block;
            position: relative;
            span.wpcf7-not-valid-tip{
                position: absolute;
                width: 100%;
                float: left;
                bottom: -25px;
                left: 0;
                font-size: 12px;
                margin-right: 0;
                text-align: left;
                padding-left: 25px;
            }
        }
        .wpcf7-response-output{
            width: 100%;
            float: left;
            margin: 25px 0 0;
            padding: 10px;
            font-size: 14px;
            border-width: 2px;
            color: #08393F;
            text-align: center;
        }
    }
}
@include media-breakpoint-down(lg) {
    footer {
        .main__nav ul li{
            margin: 0 5px;
            a{
                font-size: 14px;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    footer {
        text-align: center;
        padding: 35px 0;
        .logo{
            position: static;
            &.float-left{
                float: none!important;
                display: inline-block;
            }
        }
        .main__nav{
            margin-top: 20px;
            ul{
                li{
                    margin: 5px;
                }
            }
        }
        .social{
            width: 100%;
            float: left;
            position: static;
            margin-top: 25px;
            &.float-right{
                float: none!important;
                display: inline-block;
            }
            a{
                margin: 0 10px;
                display: inline-block;
                float: none;
            }
        }
    }
    .popup__wrapper .popup__block{
        max-width: 700px;
        padding: 50px 60px;
        .close__popup{
            top: 20px;
            right: 20px;
        }
        h2{
            font-size: 30px;
            line-height: 38px;
        }
        span.wpcf7-form-control-wrap{
            margin-right: 0;
            width: 100%;
            margin-bottom: 30px;
            input{
                width: 100%;
            }
            span.wpcf7-not-valid-tip{
                bottom: -22px;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .popup__wrapper .popup__block{
        max-width: 96%;
        padding: 45px 20px 20px;
        .title{
            margin-bottom: 15px;
            p{
                font-size: 14px;
            }

        }
    }
}