@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&subset=cyrillic-ext');

@media (min-width: 1200px){
    .container {
        max-width: 1175px;
    }
}
html{
    overflow-y: auto;
    overflow-x: hidden;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    &.admin-bar{
        header{
            top: 32px;
            &.hide{
                top: calc(-100% - 32px);
            }
        }
        main{
            width: 100%;
            float: left;
            padding-top: 86px;
        }
    }
}

a,
.btn{
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.slide{
    outline: none;
}
.preloader__wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.hide{
        opacity: 0;
        visibility: hidden;
    }
}
.transition-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.transition-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 100%;
  color: #FFF;
  padding: 0 100px;
  text-align: center;
  label {
    padding: 1%;
    opacity: 0;
    display: inline-block;
    &:after {
        content: '';
        width: 13px;
        height: 13px;
        display: block;
        background: linear-gradient(58.32deg,#28889E -25.8%,#84FAEC 208.55%);
        border-radius: 50%;
    }
  }
}

$key-frames-ms: 600ms, 500ms, 400ms, 300ms, 200ms, 100ms; 

@each $current-ms in $key-frames-ms {
    $i: index($key-frames-ms, $current-ms);
    .transition-loader-inner label:nth-child(#{$i}) {
      -webkit-animation: loader 3s $current-ms infinite ease-in-out;
      animation: loader 3s $current-ms infinite ease-in-out;
    }   
}

@keyframes loader {
  0% {
    opacity: 0;
    transform: translateX(-300px) scale(1);
  }
  33% {
    opacity: 1;
    transform: translateX(0px) scale(2);
  }
  66% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(300px) scale(2);
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #28889E;
}
::-webkit-scrollbar-thumb:hover {
    background: #84FAEC;
}
::-webkit-scrollbar-thumb:active {
    background: #08393F;
}
/*Typography*/
h1,
.h1{
    font-weight: 600;
    line-height: 78px;
    font-size: 58px;
    color: #08393F;
}
h2{
    font-weight: 600;
    line-height: 51px;
    font-size: 38px;
    color: #08393F;
}
h3{
    font-weight: 500;
    line-height: 27px;
    font-size: 20px;
}
h4{
    font-weight: 600;
    line-height: 26px;
    font-size: 18px;
}
h5{
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
}
h6{
    font-weight: 600;
    line-height: 19px;
    font-size: 14px;
}
.btn{
    display: inline-block;
    padding: 14px 17px 15px;
    color: #fff;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    border: none;
    .text{
        position: relative;
        z-index: 10;
    }
    &.gradient__btn{
        &::before{
            content: '';
            width: 101%;
            height: 100%;
            background: linear-gradient(90deg, #FF0B45 -12.44%, #FF9B00 111.71%);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
        &::after{
            content: '';
            width: 101%;
            height: 100%;
            background: linear-gradient(90deg, #FF9B00 -12.44%, #FF0B45 111.71%);
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 1;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
    }
    &:hover{
        color: #fff;
        box-shadow: 6px 6px 20px rgba(235, 92, 28, 0.4);
        &::before{
            left: -100%;
        }
        &::after{
            left: 0;
        }
    }
}
.title{
    width: 100%;
    float: left;
    margin-bottom: 32px;
    h5{
        float: left;
        color: #08393F;
        position: relative;
        margin-bottom: 0;
        &::after{
            content: '';
            width: 50px;
            height: 1px;
            display: block;
            position: absolute;
            top: 10px;
            right: -60px;
            background: linear-gradient(90deg, #FF0B45 -12.44%, #FF9B00 111.71%);
        }
    }
}
main{
    width: 100%;
    float: left;
    padding-top: 86px;
}
@include media-breakpoint-down(md) {
    main{
        padding-top: 70px;
    }
}
/*Main slider*/
.slider__section{
    padding: 0 0 55px;
    position: relative;
    &::before{
        content: '';
        width: 693px;
        height: 701px;
        display: block;
        position: absolute;
        bottom: -62px;
        right: -85px;
        background-image: url(../images/slider_layout.png);
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }
}
.main__slider{
    width: 100%;
    float: left;
    position: relative;
    .content{
        width: 100%;
        min-height: 704px;
        height: calc(100vh - 86px);
        position: relative;
        .text__block{
            position: absolute;
            width: 100%;
            padding-right: 735px;
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-70%);
                    transform: translateY(-70%);
            h2{
                color: #08393F;
                margin-bottom: 27px;
            }
            p{
                font-weight: normal;
                line-height: 25px;
                font-size: 16px;
                color: #031B1E;
            }
        }
        .image__block{
            width: 705px;
            height: 100%;
            position: absolute;
            background-size: cover;
            background-position: center;
            top: 0;
            right: 0;
        }
    }
    a{
        outline: none;
    }
    .slide{
        .content {
            .text__block{
                opacity: 0;
                -webkit-transition: all 2s ease;
                        transition: all 2s ease;
                -webkit-transform: translateY(-40%);
                        transform: translateY(-40%);
            }
            .image__block{
                opacity: 0;
                -webkit-transition: all 2s ease;
                        transition: all 2s ease;
                -webkit-transform: translateX(-30px);
                        transform: translateX(-30px);
            }
        }
        &.slick-active{
            .content {
                .text__block{
                    opacity: 1;
                    -webkit-transform: translateY(-74%);
                            transform: translateY(-74%);
                }
                .image__block{
                    opacity: 1;
                    -webkit-transform: translateX(0);
                            transform: translateX(0);
                }
            }
        }
    }
}
.main__slider__nav{
    position: absolute;
    width: 174px;
    bottom: 30px;
    right: 133px;
    span{
        width: 87px;
        height: 60px;
        float: left;
        display: block;
        background: #28889E;
        mix-blend-mode: normal;
        opacity: 0.86;
        position: relative;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        &:hover{
            opacity: 1;
        }
        &:active{
            &::before{
                -webkit-transform: scale(0.8);
                        transform: scale(0.8);
            }
        }
        &.prev__slide{
            border-radius: 2px 0px 0px 2px;
            &::before{
                content: '';
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -12px 0 0 -12px;
                display: block;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                background-image: url(../images/prev_slide.svg);
                background-size: cover;
            }
        }
        &.next__slide{
            border-radius: 0px 2px 2px 0px;
            &::before{
                content: '';
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -12px 0 0 -12px;
                display: block;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                background-image: url(../images/next_slide.svg);
                background-size: cover;
            }
        }
    }
}
.thumbnails__slider{
    width: 100%;
    max-width: 720px;
    float: left;
    margin-left: -15px;
    position: absolute;
    bottom: 30px;
    left: 50px;
    .block{
        width: 220px;
        height: 110px;
        border-radius: 2px;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(40, 136, 158, 0.37) 0%, #002B31 112.5%);
            opacity: 0.8;
            z-index: 1;
        }
        h6{
            position: absolute;
            bottom: 13px;
            left: 30px;
            right: 30px;
            color: #fff;
            margin-bottom: 0;
            z-index: 10;
        }
    }
}
.dots{
    width: 170px;
    height: 167px;
    display: block;
    background-image: url(../images/dots.svg);
    position: absolute;
    top: 138px;
    left: -77px;
    opacity: 0.2;
}
@media screen and (max-width: 1500px){
    .main__slider__nav{
        right: -44px;
    }
    .thumbnails__slider{
        left: 0;
    }
}

@media screen and (max-width: 1400px){
    .thumbnails__slider .block{
        width: 210px;
    }
}

@media screen and (max-width: 1300px){
    .thumbnails__slider .block{
        width: 200px;
    }
}

@include media-breakpoint-down(lg) {
    .main__slider .content {
        .text__block{
            padding-right: 530px;
            h2{
                line-height: 58px;
                font-size: 38px;
            }
        }
        .image__block{
            width: 500px;
        }
    }
    .thumbnails__slider {
        max-width: 480px;
        .block{
            width: 220px;
        }
    }
}
@include media-breakpoint-down(md) {
    .main__slider {
        .slide {
            &.slick-active{
                .content {
                    .text__block{
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                }
            }
            .content {
                min-height: inherit;
                height: 500px;
                .text__block{
                    -webkit-transform: translateY(-20%);
                            transform: translateY(-20%);
                    padding-right: 380px;
                    h2{
                        line-height: 58px;
                        font-size: 38px;
                    }
                }
                .image__block{
                    width: 350px;
                }
            }
        }
        .slick-dots{
            bottom: 20px;
            text-align: left;
        }
    }
    .thumbnails__slider {
        display: none;
    }
    .main__slider__nav{
        display: none;
    }
}
@include media-breakpoint-down(sm) {
    .main__slider {
        .slide{
            .content {
                height: 600px;
                .text__block{
                    top: 70%;
                    padding-right: 0;
                    h2{
                        margin-bottom: 0;

                    }
                    .title{
                        margin-bottom: 0;
                    }
                }
                .image__block{
                    width: 100%;
                    height: 50%;
                    top: 0;
                    left: 0;
                    -webkit-transform: translateX(0);
                            transform: translateX(0);
                }
            }
        }
        .slick-dots{
            text-align: center;
        }
    }
}
/*About complex block*/
.about__complex{
    padding: 55px 0 40px;
    position: relative;
    .image__block{
        width: 100%;
        height: 503px;
        float: left;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .text__block{
        width: 100%;
        float: left;
        padding: 44px 0 0 56px;
        .title{
            margin-bottom: 15px;
        }
        h2{
            width: 100%;
            float: left;
            margin-bottom: 31px;
        }
        .info__block{
            width: 33.33%;
            float: left;
            margin-bottom: 28px;
            h4{
                font-weight: bold;
                line-height: 29px;
                text-transform: lowercase;
                color: #FF2738;
            }
            p{
                font-weight: normal;
                line-height: 19px;
                font-size: 14px;
                color: #031B1E;
                margin-bottom: 0;
            }
        }
        .description{
            width: 100%;
            float: left;
            p{
                font-weight: normal;
                line-height: 29px;
                font-size: 18px;
                color: #031B1E;
            }
        }
    }
    .dots{
        right: -69px;
        bottom: -50px;
        left: inherit;
        top: inherit;
    }
}
@include media-breakpoint-down(lg) {
    .about__complex .text__block{
        padding: 20px 0 0 10px;
    }
}
@include media-breakpoint-down(md) {
    .about__complex .text__block{
        padding: 40px 0 0 0;
    }
}
@include media-breakpoint-down(xs) {
    .about__complex .text__block h2,
    .section__title h2{
        font-size: 30px;
        line-height: 38px;
    }
    .about__complex .image__block{
        height: 400px
    }
}
/*Benefits ection*/
.benefits{
    padding: 50px 0 40px;
    position: relative;
    &::before{
        content: '';
        width: 799px;
        height: 878px;
        display: block;
        position: absolute;
        bottom: 175px;
        left: -219px;
        background-image: url(../images/benefits_layout.png);
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }
}
.section__title{
    width: 100%;
    float: left;
    margin-bottom: 60px;
    h2{
        line-height: 51px;
        float: left;
        position: relative;
        margin-bottom: 0;
        &::before{
            content: '';
            width: 50px;
            height: 2px;
            display: block;
            background: linear-gradient(90deg, #FF0B45 -12.44%, #FF9B00 111.71%);
            position: absolute;
        }
    }
    &.text-center{
        h2{
            width: 100%;
            float: left;
            &::before{
                bottom: -10px;
                left: 50%;
                margin-left: -25px;
            }
        }
    }
    &.text-left{
        h2{
            float: left;
            &::before{
                top: 27px;
                right: -70px;
                margin-left: -25px;
            }
        }
    }
    &.no__border{
        h2{
            margin-bottom: 8px;
            &::before{
                display: none;
            }
        }
        p{
            line-height: 24px;
            font-size: 18px;
            color: #031B1E;
            margin-bottom: 0;
            span{
                color: #FF2738;
            }
        }
    }
    &.white__text{
        h2{
            color: #FFFFFF;
        }
    }
}
.benefit__block{
    width: 100%;
    height: 220px;
    float: left;
    background: linear-gradient(58.32deg, #28889E -25.8%, #84FAEC 208.55%);
    border-radius: 8px;
    margin-bottom: 30px;
    position: relative;
    .icon{
        position: absolute;
        top: 35px;
        left: 35px;
    }
    .number{
        width: 32px;
        height: 32px;
        display: block;
        position: absolute;
        top: 38px;
        right: 32px;
        border-radius: 50%;
        font-weight: 500;
        line-height: 32px;
        font-size: 12px;
        text-align: center;
        color: #FFFFFF;
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.4;
            border-radius: 50%;
            border: 1px solid #FFFFFF;
        }
    }
    .content{
        position: absolute;
        top: 90px;
        left: 35px;
        right: 30px;
        bottom: 30px;
        h4{
            color: #FFFFFF;
            margin-bottom: 4px;
        }
        p{
            font-weight: normal;
            line-height: 20px;
            font-size: 14px;
            color: #FFFFFF;
        }
    }
}
@include media-breakpoint-down(xs) {
    .benefit__block{
        height: 240px;
        .icon{
            left: 20px;
        }
        .number{
            right: 20px;
        }
        .content{
            left: 20px;
            right: 20px;
        }
    }
}
/*Planning and payment section*/
.planning__section{
    padding: 105px 0;
    background-image: url(../images/planning_layout.png);
/*    background-position: center;*/
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .spot__1{
        width: 652.41px;
        height: 637.54px;
        display: block;
        position: absolute;
        top: 228px;
        left: 0;
        background-image: url(../images/spot_1.png);
    }
    .spot__2{
        width: 294px;
        height: 445.31px;
        display: block;
        position: absolute;
        bottom: 203px;
        right: 0;
        background-image: url(../images/spot_2.png);
    }
}
.planning__tabs{
    width: 100%;
    float: left;
    padding: 60px 0 110px;
    .tabs__nav{
        width: 100%;
        float: left;
        margin-top: -155px;
        .tab{
            margin-left: 25px;
            float: left;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            padding-bottom: 5px;
            &:first-child(){
                margin-left: 0;
            }
            &::before{
                content: '';
                width: 100%;
                height: 1px;
                display: block;
                left: -100%;
                bottom: 2px;
                background-color: #28889E;
                position: absolute;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
            }
            &.active,
            &:hover{
                span{
                    color: #28889E;
                }
                &::before{
                    left: 0;
                }
            }
            span{
                font-weight: normal;
                line-height: 24px;
                font-size: 18px;
                color: #898989;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
            }
        }
    }
    .tab__blocks{
        width: 100%;
        float: left;
        .tab__block{
            width: 100%;
            float: left;
            display: none;
            &.active{
                display: block;
            }
        }
    }
}
.render__block{
    width: 100%;
    min-height: 435px;
    float: left;
    position: relative;
    img{
        max-width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}
.plan__block{
    width: 100%;
    float: left;
    .image{
        width: 100%;
        min-height: 355px;
        float: left;
        position: relative;
        margin-bottom: 60px;
        img{
            max-width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
    .details{
        width: 100%;
        float: left;
        .column{
            display: block;
            float: left;
            margin-right: 36px;
            margin-bottom: 20px;
            .title{
                font-weight: normal;
                line-height: 31px;
                font-size: 16px;
                color: #031B1E;
                margin-bottom: 0;
            }
            .value{
                font-weight: 600;
                line-height: 35px;
                font-size: 18px;
                color: #FF2738;
            }
            &:last-child(){
                margin-right: 0;
            }
        }
    }
}
.payment__tabs{
    width: 100%;
    float: left;
    .tabs__nav{
        width: 100%;
        float: left;
        background: linear-gradient(21.03deg, #28889E -18.45%, #84FAEC 183.87%);
        border-radius: 2px 2px 0px 0px;
        overflow: hidden;
        padding: 16px 0 12px;
        .tab{
            display: inline-block;
            margin: 0 14px;
            cursor: pointer;
            padding-bottom: 4px;
            position: relative;
            overflow: hidden;
            span{
                font-weight: normal;
                line-height: 24px;
                font-size: 18px;
                color: rgba(255, 255, 255, 0.8);
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
            }
            &::before{
                content: '';
                width: 100%;
                height: 1px;
                display: block;
                left: -100%;
                bottom: 2px;
                background-color: #fff;
                position: absolute;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
            }
            &.active,
            &:hover{
                span{
                    color: rgba(255, 255, 255, 1);
                }
                &::before{
                    left: 0;
                }
            }
        }
    }
    .tab__block{
        width: 100%;
        float: left;
        display: none;
        &.active{
            display: block;
        }
    }
    .tab__blocks{
        width: 100%;
        float: left;
        background-color: #fff;
        padding: 0 90px;
        .tab__row{
            width: 100%;
            float: left;
            padding: 26px 0 22px;
            border-bottom: 1px solid rgba(235, 235, 235, 0.8);
            display: flex;
            .column{
                width: 100%;
                .text{
                    width: 100%;
                    display: block;
                    font-weight: 600;
                    line-height: 27px;
                    font-size: 20px;
                    color: #08393F;
                }
                .desc{
                    font-weight: normal;
                    line-height: 20px;
                    font-size: 14px;
                    color: #08393F;
                }
                &.summary{
                    text-align: right;
                }
            }
        }
    }
    .tabs__footer{
        width: 100%;
        float: left;
        background: #FFFFFF;
        padding: 30px 0 42px;
    }
}
@include media-breakpoint-down(lg) {
    .planning__tabs{
        padding: 0 0 80px;
        .tabs__nav{
            margin-top: 0;
            margin-bottom: 40px;
            .tab{
                margin-right: 25px;
                margin-left: 0;
                margin-bottom: 10px;
            }
        }
    }
    .render__block{
        min-height: 355px;
    }
}
@include media-breakpoint-down(md) {
    .render__block,
    .plan__block .image{
        text-align: center;
        margin-bottom: 30px;
        min-height: inherit;
        height: 300px;
        img{
            width: auto;
            height: 100%;
            position: static;
            -webkit-transform: translate(0, 0);
                    transform: translate(0, 0);
        }
    }
}
@include media-breakpoint-down(sm) {
    .payment__tabs .tab__blocks{
        padding: 0 15px;
        .tab__row .column .text{
            font-size: 16px;
        }
    }
}
/*Infrastruture section*/
.infrastructure__section{
    padding: 75px 0 0;
    position: relative;
    .dots{
        width: 125px;
        height: 124px;
        top: -70px;
        left: 6px;
    }
    .section__title{
        margin-bottom: 33px;
    }
}
.map__block{
    width: 100%;
    float: left;
}
.map__wrapper{
    width: 100%;
    height: 570px;
    float: left;
}
.map__sorting{
    width: 100%;
    float: left;
    text-align: right;
    margin-bottom: 35px;
    margin-top: -57px;
    ul{
        float: right;
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            display: block;
            float: left;
            cursor: pointer;
            margin-left: 38px;
            position: relative;
            img{
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                background-size: cover;
                background-position: center;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                &.hover{
                    opacity: 0;
                }
            }
            h4{
                color: #031B1E;
                padding-left: 38px;
                margin-bottom: 0;
                font-weight: normal;
                line-height: normal;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
            }
            .markers{
                display: none;
            }
            &:hover,
            &.active{
                img{
                    opacity: 0;
                    &.hover{
                        opacity: 1;
                    }
                }
                h4{
                    color: #28889E;
                }
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    .map__sorting{
        margin-top: 0;
        text-align: left;
        margin-bottom: 10px;
        ul{
            float: left;
            li{
                margin-right: 30px;
                margin-left: 0;
                margin-bottom: 15px;
            }
        }
    }
}
/*Building section*/
.building__section{
    padding: 84px 0 71px;
    position: relative;
    .image__block{
        width: 100%;
        height: 524px;
        float: left;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 29px;
    }
    .small__image__block{
        width: 100%;
        float: left;
    }
    .small__image{
        width: 100%;
        height: 247px;
        float: left;
        margin-bottom: 29px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .dots{
        width: 125px;
        height: 123px;
        top: inherit;
        left: inherit;
        right: -30px;
        bottom: -90px;
    }
}
@include media-breakpoint-down(md) {
    .building__section{
        .image__block,
        .small__image{
            height: 350px;
        }
    }
}
/*Documentations section*/
.documentation__section{
    padding: 75px 0 120px;
    background-image: url(../images/planning_layout.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.documents__slider{
    width: 100%;
    float: left;
    .slide{
        width: 100%;
        padding: 0 10px;
        .image{
            width: 100%;
            height: 463px;
            display: block;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
            border-radius: 8px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            outline: none;
        }
    }
    .slick-arrow{
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        outline: none;
        color: transparent;
        font-size: 0;
        border: none;
        background-color: transparent;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        &:active{
            -webkit-transform: scale(0.9);
                    transform: scale(0.9);
        }
        &.slick-prev{
            background-image: url(../images/slide_prev.svg);
            left: -60px;
        }
        &.slick-next{
            background-image: url(../images/slide_next.svg);
            right: -60px;
        }
    }
}
.slick-dots{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    list-style: none;
    text-align: center;
    bottom: -60px;
    li{
        display: inline-block;
        margin: 0 5px;
        &.slick-active{
            button{
                background-color: #28889E;
            }
        }
        button{
            width: 16px;
            height: 16px;
            display: block;
            border-radius: 50%;
            border: 1px solid #28889E;
            font-size: 0;
            color: transparent;
            background-color: transparent;
            outline: none;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
    }
}
@include media-breakpoint-down(xs) {
    .documents__slider .slide .image{
        height: 400px;
    }
}
/*Contact section*/
.form__section{
    padding: 60px 0;
    background: linear-gradient(35.36deg, #28889E -47.65%, #84FAEC 144.39%);
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../images/contact_layout.png);
    }
    .section__title{
        margin-bottom: 50px;
    }
    .wpcf7{
        width: 100%;
        float: left;
        text-align: center;
    }
    form{
        display: inline-block;
        position: relative;
        span{
            margin-right: 20px;
            display: inline-block;
            position: relative;
            span.wpcf7-not-valid-tip{
                position: absolute;
                width: 100%;
                float: left;
                bottom: -25px;
                left: 0;
                font-size: 12px;
                margin-right: 0;
                text-align: left;
                padding-left: 25px;
            }
        }
        .wpcf7-response-output{
            width: 100%;
            float: left;
            margin: 25px 0 0;
            padding: 10px;
            font-size: 14px;
            border-width: 2px;
            color: #fff;
        }
    }
}
.form__field{
    height: 52px;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 48, 53, 0.1);
    border: 1px solid rgba(0, 48, 53, 0.1);
    border-radius: 40px;
    padding: 0 25px;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #B0B0B0;
    outline: none;
}
.form__submit{
    background: linear-gradient(90deg, #FF0B45 -12.44%, #FF9B00 111.71%);
    border-radius: 40px;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 16px 22px 16px;
    border: none;
    outline: none;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &:hover{
        background: linear-gradient(90deg,#FF9B00 -12.44%,#FF0B45 111.71%);
        box-shadow: 6px 6px 20px rgba(235, 92, 28, 0.2);
    }
}
@include media-breakpoint-down(lg) {
    .form__section{
        .form__field{
            max-width: 300px;
        }
    }
}
@include media-breakpoint-down(md) {
    .form__section{
        .wpcf7{
            text-align: left;
        }
        .wpcf7-response-output{
            text-align: center;
        }
        form{
            span{
                width: 100%;
                float: left;
                margin-right: 0;
                margin-bottom: 30px;
                span.wpcf7-not-valid-tip{
                    margin-bottom: 0;
                    bottom: -22px;
                }
            }
            .form__submit{
                float: left;
            }
            .form__field{
                width: 100%;
                max-width: inherit;
            }
        }
    }
}
/*Contacts section*/
.contacts__section{
    .image__block{
        width: 100%;
        height: 600px;
        float: left;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
    .contact__block{
        width: 100%;
        height: 600px;
        float: left;
        padding-left: 120px;
        padding-top: 94px;
        background-color: #fff;
        .section__title{
            margin-bottom: 50px;
        }
    }
    .contacts__information{
        width: 100%;
        float: left;
        p{
            font-weight: normal;
            line-height: 31px;
            font-size: 16px;
            color: #031B1E;
            margin-bottom: 0;
        }
        h4{
            font-weight: 600;
            line-height: 35px;
            font-size: 16px;
            color: #031B1E;
            margin-bottom: 30px;
            a{
                color: #031B1E;
                text-decoration: none;
                &:hover{
                    color: #FF0B45;
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .contacts__section {
        .image__block{
            height: 500px;
        }
        .contact__block{
            height: auto;
            min-height: 500px;
            padding: 30px 30px 0;
        }
        .contacts__information h4{
            margin-bottom: 20px;
        }
    }
}