header{
    width: 100%;
    height: 86px;
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 10;
    -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease;
    &.hide{
        top: -100%;
    }
    .logo{
        position: absolute;
        top: 19px;
        left: 30px;
        z-index: 1;
    }
    .main__nav{
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 32px;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                display: inline-block;
                margin: 0 15px;
                a{
                    padding: 1px 0;
                    line-height: normal;
                    font-size: 16px;
                    text-align: center;
                    color: #031B1E;
                    text-decoration: none;
                    display: block;
                    position: relative;
                    &::before{
                        content: '';
                        width: 100%;
                        height: 2px;
                        display: block;
                        float: left;
                        background-color: #28889E;
                        position: absolute;
                        bottom: -10px;
                        opacity: 0;
                        visibility: hidden;
                        -webkit-transition: all 0.3s ease;
                                transition: all 0.3s ease;
                    }
                    &:hover,
                    &.active{
                        color: #28889E;
                        &::before{
                            bottom: -5px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .phone__icon{
        width: 22px;
        height: 22px;
        display: block;
        position: absolute;
        right: 80px;
        top: 25px;
        background-image: url(../images/phone_icon.svg);
        background-size: cover;
        animation: quick-alo-circle-img-anim 0.8s infinite ease-in-out;
        display: none;
    }
}
.additional__nav{
    position: absolute;
    z-index: 1;
    top: 31px;
    right: 25px;
    .phone{
        padding-left: 28px;
        float: left;
        display: block;
        font-weight: 600;
        line-height: normal;
        font-size: 18px;
        color: #08393F;
        text-decoration: none;
        &::before{
            content: '';
            width: 18px;
            height: 18px;
            display: block;
            position: absolute;
            left: 0;
            top: 1px;
            background-image: url(../images/phone_icon.svg);
            background-size: cover;
        }
        &:hover{
            color: #FF0B45;
            &::before{
                animation: quick-alo-circle-img-anim 0.8s infinite ease-in-out;
            }
        }
    }
    .lang__menu{
        float: left;
        list-style: none;
        margin: 0 0 0 50px;
        padding: 0;
        li{
            float: left;
            text-transform: uppercase;
            font-weight: 500;
            line-height: normal;
            font-size: 18px;
            color: #28889E;
            margin-left: 10px;
            a{
                color: #898989;
                text-decoration: none;
                &:hover{
                    color: #28889E;
                }
            }
        }
    }
}
@keyframes quick-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}
@-webkit-keyframes quick-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}
.mobile__btn{
    width: 31px;
    height: 28px;
    position: absolute;
    top: 21px;
    right: 30px;
    cursor: pointer;
    z-index: 1000;
    display: none;
    span{
        width: 31px;
        height: 2px;
        display: block;
        background-color: #08393F;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        &:nth-child(1){
            top: 3px;
        }
        &:nth-child(2){
            top: 13px;
        }
        &:nth-child(3){
            top: 23px;
        }
    }
    &.show__menu{
        span{
            &:nth-child(1){
                width: 0;
            }
            &:nth-child(2){
                top: 14px;
                -webkit-transform: translateX(-50%) rotate(135deg);
                transform: translateX(-50%) rotate(135deg);
            }
            &:nth-child(3){
                top: 14px;
                -webkit-transform: translateX(-50%) rotate(225deg);
                transform: translateX(-50%) rotate(225deg);
            }
        }
    }
}
.mobile__navigation{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #fff;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.show__navigation{
        left: 0;
    }
    .mob__nav{
        width: 100%;
        float: left;
        margin-top: 35px;
        ul{
            width: 100%;
            float: left;
            padding: 0 30px;
            margin: 0;
            list-style: none;
            li{
                width: 100%;
                float: left;
                padding: 10px 0;
                a{
                    padding: 2px 0;
                    line-height: normal;
                    font-weight: 500;
                    font-size: 18px;
                    text-align: center;
                    color: #031B1E;
                    text-decoration: none;
                    position: relative;
                    float: left;
                    &::after{
                        content: '';
                        width: 50px;
                        height: 2px;
                        display: block;
                        position: absolute;
                        top: 13px;
                        right: -80px;
                        background: linear-gradient(90deg, #FF0B45 -12.44%, #FF9B00 111.71%);
                        opacity: 0;
                        -webkit-transition: all 0.3s ease;
                                transition: all 0.3s ease;
                    }
                    &.active{
                        color: #28889E;
                        &::after{
                            right: -60px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .lang__menu{
        float: left;
        list-style: none;
        margin: 110px 0 0 20px;
        padding: 0;
        li{
            float: left;
            text-transform: uppercase;
            font-weight: 500;
            line-height: normal;
            font-size: 18px;
            color: #28889E;
            margin-left: 10px;
            a{
                color: #898989;
                text-decoration: none;
                &:hover{
                    color: #28889E;
                }
            }
        }
    }
    .phone{
        position: absolute;
        bottom: 30px;
        left: 30px;
        font-weight: 600;
        font-size: 18px;
        color: #08393F;
        z-index: 1;
        text-decoration: none;
        &:hover{
            color: #FF0B45;
        }
    }
}
@media screen and (max-width: 1500px){
    header {
        .main__nav ul li{
            margin: 0 5px;
            a{
                font-size: 14px;
            }
        }
    }
    .additional__nav .lang__menu{
        margin: 0 0 0 30px;
    }
}
@include media-breakpoint-down(lg) {
    header {
        .main__nav{
            text-align: left;
            padding-left: 155px;
            ul{
                li{
                    margin: 0 3px;
                }
            }
        }
    }
    .additional__nav {
        top: 35px;
        .phone{
            font-size: 14px;
        }
        .lang__menu{
            margin: 0 0 0 10px;
            li{
                font-size: 14px;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    header {
        height: 70px;
        .main__nav,
        .additional__nav{
            display: none;
        }
        .logo{
            top: 11px;
        }
        &.hide{
            top: 0;
        }
        .mobile__btn,
        .phone__icon{
            display: block;
        }

    }
}
@include media-breakpoint-down(xs) {
    header{
        .logo{
            left: 15px;
        }
    }
    .mobile__navigation {
        .mob__nav ul{
            padding: 0 15px;
        }
        .phone{
            left: 15px;
        }
    }
    .mobile__btn{
        right: 15px;
    }
}